.scroll__table {
width: 60%;
height: 100%;
background-color: $color-primary;
box-shadow: $box-shadow-inset;
border-radius: 12px;
padding-bottom: 4rem;
padding-top: 4rem;
//padding-bottom: 20%;
//padding-top: 10%;
//position: relative;
//&::after {
//    content: "";
//    position: absolute;
//    height: 25%;
//    top: 75%;
//    background: $color-primary;
//	opacity: 0.5;
//	backdrop-filter: blur(3.3px);
//	margin-right: 48px;
//	margin-left: 48px;
//	width: calc(100% - 96px)
//}
}

.stack__table {
height: auto;
width: 40%;
display: flex;
flex-direction: column;
gap: 2rem;
	&__head {
		position: sticky;
		top: 10%;
		width: 100%;
		height: auto;
		display: flex;
		flex-wrap: wrap;
		gap: 2.5rem;
		align-items: center;
		& .legend__pill {
		position: relative;
		color: $color-primary;
		width: fit-content;
			&::before {
				position: absolute;
				content: "";
				width: 12px;
				height: 12px;
				border-radius: 50%;
				left: 0;
				top: calc(50% - 6px);
				margin-left: -20px;
			}
			&:nth-of-type(1) {
				&::before {
					background-color: $color-blue;
				}
			}
			&:nth-of-type(2) {
				&::before {
					background-color: $color-green;
				}
			}
			&:nth-of-type(3) {
				&::before {
					background-color: $color-yellow;
				}
			}
			&:nth-of-type(4) {
				&::before {
					background-color: $color-orange;
				}
			}
		}
		& .legend__info {
		color: $color-primary;
		}
	}
	&__body {
		position: sticky;
		top: 20%;
		height: auto;
		width: 100%;
		background-color: $color-background;
		box-shadow: $box-shadow-offset;
		border-radius: 12px;
		border: 1px solid $color-grey-dark;
		display: flex;
		gap: 2rem;
		flex-direction: column;
	}
	&__entry {
		padding: 0 2rem 2rem 2rem;
		width: 100%;
		height: auto;
		&:nth-of-type(1) {
			margin-top: 1rem;
			border-bottom: 1px solid $color-grey-dark;;
		}
	}
	&__content {
	margin-top: 2rem;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	}
}

.entry {
	margin-bottom: 4rem;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0 48px;	
	& > * {
		color: $color-black;
	}
		&_date {
			background-color: $color-primary;
			box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
			border-radius: 50%;
			height: 64px;
			width: 64px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	&_header {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 24px;
	}
	&_content {
		span {
			text-decoration: underline;
		}
		ul {
			display: flex;
			flex-wrap: wrap;
			gap: 8px;
			padding: 0;
			margin: 0;
		}
	}
	
}

.pill {
display: flex;
align-items: center;
justify-content: space-between;
width: fit-content;
border-radius: 18px;
padding: 8px 24px;
gap: 8px;
list-style: none;
	&_grey {
		background-color: $color-grey-light;
		border: 1px solid $color-grey-dark;
	}
	&_transparent {
		position: relative;
		transition: background ease-in-out 3s;
		color: $color-grey-light;
		border: 1px solid $color-grey-dark;
		--dynamic-pill-width: 0;
		z-index: 1;
		overflow: hidden;
		&::before {
		content: '';
		z-index: -1;
		background-color: $color-green;
		//border-radius: 18px;
		position: absolute;
		width: var(--dynamic-pill-width);
		height: 100%;
		left: 0;
		top: 0;
		}
		& svg, path {
			fill: currentColor;
		}
	}
	&_download {
		background-color: $color-black;
		color: $color-primary;	
		transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
		&:hover {
			cursor: pointer;

		}
		
	}
	& img, svg {
		width: 24px;
		height: 24px;
		object-fit: contain;
	}
}

.is-basic {
		position: relative;
		color: $color-black;
		&::before {
		background-color: $color-green;
		border-radius: 18px;
		position: absolute;
		width: 0;
		height: 100%;
		left: 0;
		top: 0;
		}
}

