@import url("https://use.typekit.net/bpf5kfi.css");
@import url("https://use.typekit.net/bpf5kfi.css");


html,
body {
  padding: 0;
  margin: 0;

  /* background-color: #0B1A2E; */
  background-color: #0A1930;
  color: #D9D9D9;
  /*scroll-snap-type: y mandatory;*/
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
}



a {
  color: inherit;
  text-decoration: none;
}

.link {
  position: relative;
}

.link::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  /* background: #7233AE; */
  top: 111%;
}

* {
  box-sizing: border-box;
}


main {
  max-width: 1600px;
  margin: 0 auto;
}

.icon svg {
  display: flex;
  font-size: inherit;
  margin: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.h1,
h1 {
  margin: 0;
  font-size: 96px;
}

.h2,
h2 {
  font-size: 84px;
}

.h3,
h3 {
  font-size: 64px;
}

.h4,
h4 {
  font-size: 48px;
}

.h5,
h5 {
  font-size: 32px;
}

.h6,
h6 {
  font-size: 28px;
}

.subtitle {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.subtitle--inverted {
  color: transparent;
  -webkit-text-stroke: #C99651 1px;
  font-size: 24px;
}

.copy-large {
  font-size: 20px;
  color: #D9D9D9;
}

.copy-big {
  font-size: 18px;
}

.bold {
  font-weight: 600;
}

.copy {
  color: #9F9F9F;
  font-size: 16px;
}

.copy-small {
  font-size: 14px;
  color: #9F9F9F;
}

.copy-tiny {
  font-size: 12px;
  color: #9F9F9F;
}

.uppercase {
  text-transform: uppercase;
}

.link-small {
  font-size: 14px;
  text-decoration: underline;
}


.headline {
  color: #C99651;
  letter-spacing: 2px;
  font-family: "fatfrank", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  -webkit-text-stroke: 1px #C99651;
  text-shadow: 1px 3px 11px rgb(0 0 0 / 30%);
}

.font--inverted {
  color: transparent;
}

.font--italic {
  font-style: italic;
}

.font--uppercase {
  text-transform: uppercase;
}

.font--frank {
  font-family: "fatfrank", sans-serif;
}





/* ant modal */

.ant-modal-wrap {
  cursor: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M12.5 23C18.851 23 24 17.851 24 11.5S18.851 0 12.5 0 1 5.149 1 11.5 6.149 23 12.5 23Zm0-1C18.299 22 23 17.299 23 11.5S18.299 1 12.5 1 2 5.701 2 11.5 6.701 22 12.5 22Zm-4.243-5.55-.707-.707 4.243-4.243L7.55 7.257l.707-.707 4.243 4.243 4.243-4.243.707.707-4.243 4.243 4.243 4.243-.707.707-4.243-4.243-4.243 4.243Z' fill='%23e3dfdf' class='fill-000000 fill-d9d9d9'%3E%3C/path%3E%3C/g%3E%3C/svg%3E") 32 32, pointer;
  ;
}

.ant-modal-content {
  border-radius: 8px;
  background: #3d3d3d9e !important;
  box-shadow: 0 4px 30px rgb(16 16 16 / 48%);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  height: auto;
  cursor: auto;
  padding: 24px !important;
}

.ant-modal-content button {
  top: 24px !important;
}

.ant-modal-header {
  background-color: transparent !important;
  /* width: calc(100% + 48px);
  margin-left: -24px;
  padding-left: 24px; */
  margin-bottom: 0 !important;
  border-bottom: none !important;
  color: #D9D9D9 !important;
}

.ant-modal-title {
  color: #D9D9D9 !important;
}

.ant-modal-close {
  /* transition: all 0.3s ease-in-out; */
  /* background: #F2F2F2 !important; */
  border-radius: 50% !important;
  width: 24px !important;
  height: 24px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #D9D9D9 !important;
}

.ant-modal-close path {
  color: #D9D9D9 !important;
}



/* swiper */

.swiper,
.swiper-wrapper {
  /* min-width: 100%; */
  /* justify-content: center; */
}

.swiper[data-expanded="true"] .swiper-wrapper {
  flex-wrap: wrap;
  height: auto;
  row-gap: 16px;
}

.swiper-slide {
  /* max-width: 100% !important;
  width: max-content !important; */
  height: auto !important;
}