.inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.scroll {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: $base-spacing-gap;

    & svg {
        -webkit-animation: heartbeat 3s ease-in-out infinite both;
        animation: heartbeat 3s ease-in-out infinite both;
    }
}



.headline {
    position: absolute;
    padding: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    line-height: 1;
    gap: 24px;
    display: flex;
    flex-direction: column;

    & h1 {
        display: flex;
        flex-direction: column;

        & span {


            &:nth-of-type(1) {
                margin-left: 12px;
            }

            &:nth-of-type(2) {
                font-size: 64px;
            }

            &:nth-of-type(3) {
                font-size: 84px;
                margin-left: -20px;
            }
        }
    }
}

.astro {
    // position: absolute;
    // top: 0;
    // z-index: 2;
    width: 500px;
    height: 1000px;
    filter: grayscale(1);
    // display: none;
}

.rocket {
    // position: absolute;
    width: 500px;
    height: 1000px;
    filter: grayscale(1);
}

.builder {
    opacity: 0;
}



.about {
    // display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    // position: relative;

    &[is-visible="true"] {
        display: flex;
    }

    &__button {
        opacity: 0;
        position: absolute;
        top: 70%;
        z-index: 3;
    }

    &__cta {
        &__title {
            margin-top: 165px;
            margin-left: auto;
            margin-right: auto;
            // opacity: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &__top,
            &__bottom {
                font-size: 120px;

            }
        }
    }

    &__title {
        // opacity: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        height: fit-content;
        margin-top: 200px;

        & span,
        h4 {
            opacity: 0;
        }
    }

    &__info {
        position: absolute;
        display: flex;
        z-index: 3;
        align-items: center;
        justify-content: flex-end;
        opacity: 0;
        height: 50px;
        --dot-height: 0;
        --dot-width: 0;
        top: 50%;
        transform: translateY(-50%);

        &__right {
            flex-direction: row-reverse;
            border-color: $color-very-gentle-white !important;

            &::before {
                left: 100% !important;
                background-color: $color-white !important;
            }
        }

        &__text {
            opacity: 0;
        }

        &::before {
            content: "";
            transform: translateY(-50%);
            position: absolute;
            width: var(--dot-width);
            height: var(--dot-width);
            left: 0;
            top: 100%;
            background-color: $color-white;
            border-radius: 50%;
        }
    }


}

.journey {
    opacity: 0;
    // position: absolute;
    // top: 500px;
    height: 2000px;
    width: 100%;
}

.cards {
    // height: 0;
    margin-top: $base-spacing-large;
    // opacity: 0;
    // position: absolute;
    // visibility: hidden;
    display: block;
    width: 100%;
    height: 100%;

    // &[is-visible="true"] {
    //     display: block;
    // }
}




.background {
    display: none;
    position: absolute;
    background-image: url("../../public/images//hoffnung.png");
    background-size: contain;
    background-position: center center;
    width: 1000px;
    height: 800px;
    top: 20%;
    left: 40%;
    background-repeat: no-repeat;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-10-20 14:32:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}