.content {
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.legend__pill {
    border-bottom: 1px solid #ffffff26;
    padding-bottom: 24px;
    margin-top: 24px;
    line-height: 26px;
    color: $color-primary;

    & span {
        color: $color-gentle-white;
        font-weight: bold;
    }


    &:nth-of-type(4) {
        border-bottom: unset;
    }
}