.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    padding: $base-spacing-default;
}

.inner {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slider {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;


}

// .highlight {
//     width: 100%;
//     height: 100%;
// }

.disclaimer {
    max-width: 800px;
    text-align: center;
    margin-bottom: $base-spacing-default;
}

// .slider {}


.highlight {
    $block: &;
    width: 1400px !important;
    min-width: 1400px;
    max-width: 1400px;
    display: flex;
    height: 100% !important;
    position: relative;
    overflow: hidden;
    z-index: 1;
    // height: 2562px;
    // height: 854px !important;
    // overflow: visible;
    // box-shadow: $box-shadow-card;
    // border: 1px solid $color-border-light;
    // border-radius: $base-spacing-radius * 2;
    // background: linear-gradient(26deg, rgb(6, 30, 69) 0%, rgba(0, 0, 0, 0) 33%);
    // opacity: 0.7;
    transition: opacity ease-in-out 0.3rs, filter ease-in-out 0.3s;
    // backdrop-filter: blur(3px);

    // filter: blur(1px);

    @media (max-width: 512px) {
        width: 320px !important;
        min-width: 320px;
        max-width: 320px;
    }

    &[data-active="true"] {
        opacity: 1;
        filter: none;
    }

    &__frame {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: $base-spacing-default * 2;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow: visible;

    }

    &__content {
        display: flex;
        flex-direction: column;
        width: 500px;
        z-index: 1;
    }

    &__title {
        // margin-bottom: $base-spacing-tiny;
        // line-height: 1.1;

        & span {
            color: $color-grey;
            font-size: 32px;
        }
    }

    &__tech {
        display: flex;
        gap: $base-spacing-gap-small;
        display: flex;
        align-items: center;
        margin-bottom: $base-spacing-small;
        flex-wrap: wrap;

        & span {
            width: fit-content;
            padding: 6px 12px;
            color: $color-blue-subtle-text;
            background: $color-blue-subtle;
            font-size: 14px;
            display: flex;
            /* border-radius: 100px; */
            font-weight: 200;
            border-top-right-radius: 100px;
            border-bottom-right-radius: 100px;
            // margin-bottom: 16px;
            border-radius: 100px;
            align-items: center;
            justify-content: center;
            line-height: 16px;

            &>* {
                color: $color-gentle-white;
                fill: $color-gentle-white;
            }

            & svg {
                font-size: 16px;
                height: 16px;
                width: 16px;
                filter: grayscale(1);
            }
        }
    }

    &__copy {
        margin-bottom: $base-spacing-default;
    }

    &__image {
        &__button {

            width: 75px;
            height: 75px;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $color-primary-blue;
            color: $color-white;
            top: 50%;
            left: 61%;
            z-index: 2;
            box-shadow: $box-shadow-button;
            border-radius: 50%;

            [data-touch="false"] & {
                &:hover {
                    transition: $transition;
                    cursor: pointer;
                    background-color: $color-white;
                    color: $color-primary-blue-light
                }
            }


        }

    }

}

.navigation {
    display: none;
    width: 1400px;
    left: 50%;
    transform: translate(-50%, -50%);
}

// .slider {
//     overflow: visible;

//     &__button {
//         background-color: #fff;

//         & path {
//             fill: black;
//         }
//     }

// }

// .cards {
//     position: relative;
//     // margin-bottom: 350px;
// }

// .card {
//     width: 100% !important;
// }