.container {
	width: 100%;
	height: auto;

	&__flex {
		display: flex;
	}

	&__fill {
		min-height: 100vh;
	}
}

.spacing {
	&__default {
		margin-top: $base-spacing-large;
		margin-bottom: $base-spacing-large;
	}

	&__default__top {
		margin-top: $base-spacing-large;
	}

	&__default__bottom {
		margin-bottom: $base-spacing-large;
	}

	&__default__bottom__big {
		margin-bottom: $base-spacing-large * 2;
	}
}

.background {
	overflow: hidden;
	position: relative;
	--offset: 0;

	&__fill {

		&::after {
			content: "";
			display: block;
			position: absolute;
			width: var(--screen);
			left: calc((var(--screen) - 1600px) / -2);
			height: calc(100% + var(--offset) *-1);
			background-color: inherit;
			top: var(--offset);
			z-index: 0;
		}
	}

	&__rounded {
		&::after {
			border-radius: 120px;
		}
	}

	&__transparent {
		background-color: transparent;
	}

	&__default {
		background-color: $color-bg-new;
	}

	&__shade1 {
		background-color: $color-background-shade-1;
	}

	&__shade2 {
		background-color: $color-background-shade-2;
	}

	&__shade3 {
		background-color: $color-background-shade-3;
	}

	&__shade4 {
		background-color: $color-background-shade-4;
	}
}