.container {
	display: flex;
	color: #fff;
	height: auto;
	width: 100%;

	&__space__bottom__large {
		margin-bottom: $base-spacing-large;
	}

	&__space__top__large {
		margin-top: $base-spacing-large;
	}

	&__spacing__default {
		margin-top: $base-spacing-large;
		margin-bottom: $base-spacing-large;
	}

	&__absolut {
		position: relative;
		max-width: 1600px;
		top: -300px
	}

	&__special {
		margin-top: -250px;
		min-height: calc(100vh + 250px);
	}


	&__fill {
		width: 100%;
		min-height: 100vh;
		height: auto;
	}

	&_is_landing {
		width: 100%;
		height: 100vh;
	}
}

.inner {
	padding: 24px;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;

	@include mq($until: tablet) {
		padding: 16px;
	}
}

.content {
	display: flex;
	width: 100%;
	height: 100%;

	&_has_side {
		gap: 6rem;

		@include mq($until: deskotop-wide) {
			gap: 0;
			flex-direction: column;
		}
	}
}