@import '~sass-mq';

$color-background: #0A1932;
$color-background-shade-1: #0C4196;
$color-background-shade-2: #1262E3;
$color-background-shade-3: #092F6E;
$color-background-shade-4: #061E45;
$color-primary: #D9D9D9;
$color-black: #00010D;
$color-grey: #4D6284;
$color-bg-grey: #4d628463;
$color-pill-grey: #ffffff24;

$color-primary-blue: #3641D9;
$color-primary-purple: #6770F5;
$color-primary-blue-light: #36A8D9;
$color-primary-purple-light: #6770F5;

$color-white: #FAFBFF;
$color-gentle-white: #CCCFD5;
$color-very-gentle-white: #9C9FA4;
$color-grey-pink: #b6b4da;

$color-bg-new: #010626;
$color-primary-blue-new: #03258C;
$color-primary-blue-alt-new: #1243A6;
$color-primary-blue-accent-new: #0F468C;

$color-grey-light: #CCCCCC;
$color-grey-medium: #999999;
$color-grey-dark: #666666;

$color-blue-subtle: #3b88e925;
$color-blue-subtle-text: #3b88e9;




$color-green: #148A08;
$color-yellow: #F2C230;
$color-orange: #F2884B;
$color-red: #F25050;
$color-purple: #3C428E;
$color-purple-alt: #645def;
$color-purple-alt-2: #1f227d;
$color-blue-dark: #00000024;
$color-medium-dark-blue: #042A54;
$color-very-dark-blue: #00203E;
$color-medium-blue: #042F5C;

$color-orange-primary: #C99651;

$color-border-light: #9f9f9f17;

$color-gradient-purple: #3a36d1;
$color-gradient-blue: #264fc8;


$box-shadow-offset: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
$box-shadow-button: rgb(16 16 16 / 48%) 0px 8px 24px;
$box-shadow-button-extrem: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
$box-shadow-extrem: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
$box-shadow-default: -5px 5px 10px #081429,
    5px -5px 10px #0c1e3c;
$box-shadow-card: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
$text-shadow: 1px 3px 11px rgba(0, 0, 0, .3);

$background-blur: rgb(196 199 202 / 9%);

$transition: all 0.3s ease-in-out;
$transition-fast: all 0.1s ease-in-out;
// 
$mq-breakpoints: (
    mobile: 320px,
    tablet: 740px,
    desktop: 980px,
    deskotop-wide: 1200px,
    wide: 1300px,
    container: 1600px,
    // Tweakpoints
    desktopAd: 810px,
    mobileLandscape: 480px
);

//spacing
$base-spacing-gap-small: 8px;
$base-spacing-tiny: 12px;
$base-spacing-gap: 16px;
$base-spacing-radius: 24px;
$base-spacing-small: 24px;
$base-spacing-medium: 32px;
$base-spacing-default: 40px;
$base-spacing-large: 96px;
$container: 16000px;

$nav-height: 64px;


.pill--default {
    background-color: #4D6284;
    border-radius: $base-spacing-radius;
    border: 2px solid #4D6284;
    display: inline-flex;
    align-items: center;
    // justify-content: center;
    color: $color-white;
    padding: 10px 24px;
    width: auto;
}

.pill--small {
    @extend .pill--default;
    // padding: 0;
    border: none;
}