.main {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    // background-image: url("/images/beauty7.png");
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center center;
    background: radial-gradient(circle, rgba(1, 6, 38, 1) 63%, rgba(10, 18, 75, 1) 96%);
}

.journey {
    // opacity: 0;
    position: relative;
    top: 6vh;
    max-height: 100%;
    top: 5.5vh;
    max-width: 1920px;
    width: 80vw;
    height: 90vh;
    margin-left: auto;
    margin-right: auto;

    &__svgEl {
        width: 100% !important;
        height: 100% !important;

        // & path {
        //     stroke-dashoffset: 0;
        //     stroke-dasharray: 0 0;
        // }
    }

    &__overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__ball {
        opacity: 0;
    }

    &__gradient {
        width: 100px;
        height: 100px;
        position: absolute;
        left: 50%;
        top: 50%;
        background: $color-primary-blue;
        border-radius: 100%;
        filter: blur(50px);
        z-index: 0;
        transform: translate(-50%, -50%);
    }

    &__overlay {
        // position: absolute;
        // top: 0;
        // left: 35%;
        // max-height: 100%;
    }

    &__stop {
        opacity: 0;
        position: absolute;
        display: flex;
        filter: grayscale(0.5);

        &[data-stop="1"] {
            top: 17%;
            left: 14%;
        }

        &[data-stop="2"] {
            top: 32%;
            left: 55%;
        }

        &[data-stop="3"] {
            top: 53%;
            left: 82%;
        }

        &[data-stop="4"] {

            top: 82%;
            left: 18%;
        }

        &__img {
            opacity: 0;
        }

        & img {
            object-fit: contain;
            z-index: 1;
            position: relative;
        }
    }

}

.gradient {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 25%;
    // left: 50%;
    // top: 50%;
    background: $color-gradient-blue;
    border-radius: 100%;
    filter: blur(200px);
    transform: translate(-50%, -50%);
    z-index: 0;
    transition: $transition;
}

.illustration {
    opacity: 0 !important;
    display: flex;
    width: fit-content;
    height: fit-content;
    position: absolute;
    object-fit: contain;
    // background-color: $color-bg-new;
    // mix-blend-mode: hue;

    & img {
        object-fit: contain;
    }
}